header {
  background-color: #000;
  width: 100%;
}
header .pre-header {
  height: 30px;
  background: linear-gradient(to right, black, gray);
  display: flex;
  justify-content: flex-end;
}
header .pre-header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .pre-header ul li {
  display: inline-block;
  margin-right: 20px;
}
header .pre-header ul li:first-child a {
  color: #970000;
}
header .pre-header ul li a {
  text-decoration: none;
  color: rgb(73, 73, 73);
}
header nav {
  z-index: 3;
  background-color: black;
  width: 100%;
  padding: 0 15px;
}
header nav.fixed-nav {
  position: fixed;
  top: 0;
  transition: all 0.3s linear;
}
header nav ul {
  float: left;
  list-style: none;
  display: flex;
  align-items: center;
}
header nav ul li {
  display: inline-block;
  margin-left: 30px;
}
header nav ul li:first-child a:hover::after {
  display: none;
}
header nav ul li a {
  position: relative;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
header nav ul li a:hover:after {
  display: block;
}
header nav ul li a:after {
  position: absolute;
  content: "";
  display: none;
  background-color: #fff;
  height: 2px;
  width: 100%;
}
header nav .nav-right-side {
  float: right;
  margin: 15px 40px 0 0;
}
header nav .nav-right-side a {
  color: white;
}
header nav .nav-right-side a:hover {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
}

section.hero {
  margin-top: 84px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.hero h1 {
  font-size: 68px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}
section.hero h1 span {
  font-weight: 600;
  background-image: -webkit-linear-gradient(145deg, red, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
}

div.image {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
div.image img {
  width: 200px;
  height: 200px;
  margin: 0;
}

.text {
  width: 30%;
  margin: 30px auto 60px;
  height: 500px;
  background-color: white;
}
.text p {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.search-wrraper {
  display: none;
  background-color: white;
}
.search-wrraper #close-search {
  cursor: pointer;
}