header {
  background-color: #000;
}
header nav {
  padding: 15px;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header nav ul li {
  display: inline-block;
  margin-left: 30px;
}
header nav ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
header nav ul li a:hover:after {
  display: block;
}
header nav ul li a:after {
  content: "";
  display: none;
  background-color: #fff;
  height: 2px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}