header{
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;

    .pre-header{
        height: 30px;
        background: linear-gradient(to right, black, gray);
        display: flex;            
        justify-content: flex-end;

        ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;

            li{
                display: inline-block;
                margin-right: 20px;
                
                &:first-child{
                    a{
                        color: $orange;
                    }
                }

                a{
                    text-decoration: none;
                    color: rgb(73, 73, 73);
                }
            }
        }
    }
    
    nav{
        padding: 0 15px;

        ul{
            list-style: none;
            display: flex;
            align-items: center;

            li{
                display: inline-block;
                margin-left: 30px; 

                &:first-child{
                    a:hover{
                        &::after{
                            display: none;
                        }
                    }
                }

                a{
                    position: relative;
                    color: #fff;
                    font-size: 16px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: $font;

                    &:hover{
                        &:after{
                            display: block;
                        }
                    }

                    &:after{
                        position: absolute;
                        content: '';
                        display: none;
                        background-color: #fff;
                        height: 2px;
                        width: 100%;
                    }
                }
            }
        }
    }
}